<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="{{ url_for('static',filename='styles/layout.css')}}" rel="stylesheet" type="text/css" media="all">
    <title>Recommendations</title>
  </head>
  <body>
    <h2 style="font-size:4em;text-align:center;"> Recommendations</h2>
    <ul class="list-group" style="color:black; width:50%;margin-left:25%">
          {% for item in similar_Songs>%}
                  <li class="list-group-item">{{ item.lower}}</li>
          {%endfor%}
    </ul>

  </body>
</html>
